.nftImgCont{
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.nft-image{
    background-color:#aaa;
    width: 35%;
}

h1.nft-detail-name{
    font-size: 40px;
    text-align: center;
}

.nft-detail-name{
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 24px;
    font-size: 25px;
}

.detail-description {
    display: flex;
    width: 80vmin;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 25vmin;
    text-align: justify;
}

.modal-btns {
    justify-content: center;
}