/* .detail-page {
    display: flex;
    flex-flow: row wrap;
    font-family: sans-serif;
    
  } */

/* .random{
    font-size: 30px;
    color: black;
} */

.nft-image{
display: flex; 
width: 50%
}

.nft-detail-name{
    /* display: flex; */
    font-size: 24px;
    color: #222;
    line-height: 24px;
}

.detail-description {
    display: flex;
    width: 60vmin;
    color: #555;
    border:#222 3px solid;
    position: absolute;
    right: 25vmin;
    top:10vmin;
}

h1.nft-detail-name{
    text-align: center;
    position:absolute;
    right: 38vmin;
    top: 20vmin;
}