.user\.user{
    display: flex;
    gap: 10%;
    /* width: 100px; */
}
.userProfile{
    display: grid;
    border: 0.5px solid white;
    width: 45%;

}

.userDetails{
    margin: 0;
    color: white;
    font-size: 40px;
}

p.userBio {
    font-size: 15px;
    color: white;
}

.edit-profile {
    color: white;
    font-size: 3vmin;
    font-style: normal;
    text-decoration: none;
}

.favorites-page-icon{
    color: white;
    font-size: 3vmin;
    font-style: normal;
    text-decoration: none;}

.favorites-page-icon:hover{
    color:red;
    font-weight: bold;

}

.userPhoto{
    margin-top: 2vmin;
    margin-left: 6vmin;
    width: 42vmin;
    height: 42vmin;
    border: 2px solid white;
    border-radius: 50%;
}

/* .secondBorder{
    margin-left: 6vmin;
    width: 40vmin;
    height: 40vmin;
    border: 3px solid white;
    border-radius: 50%;
} */

.linksProfile{
    margin:0
}