.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }
  
  h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
  }
  
  .search-bar {
   position: absolute;
   top: 25px;
   left: 54vmin;
   transform: translate(-50%, -50%);
   background: #2C3441;
   height: 58px;
   border-radius: 40px;
   padding: 10px;
  }
  
  .search-bar:hover > input{
    width: 200px;
    padding: 0 10px;
  }

  .search-bar:hover > .icon {
    background: #536179

  }

  .icon:hover{
    transform: rotate(360deg) scale(0.8);
  }

  input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    color:fff;
  }
  
  .icon{
    color: #21DFCD;
    float: right;
    width: 40px;
    font-size: 1.3rem;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;;
  }
