nav-hover {
    text-decoration: none;
}

.home-link{
    font-size: 25px;
    text-decoration: none;
}

.user-profile {
    font-size: 25px;
    text-decoration: none;
}

.log-out-link{
    font-size: 25px;
    text-decoration: none;
}

.welcome-user{
    font-size: 20px;
}