.nav-hover {
    box-shadow: 4px 4px 4px 0 #000428;
    text-decoration: none;
}

.home-link{
    font-size: 25px;
    text-decoration: none;
}

.user-profile {
    font-size: 25px;
    text-decoration: none;
}

.log-out-link{
    font-size: 25px;
    text-decoration: none;
}

.welcome-user{
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;

}