body{
    background: linear-gradient(to bottom, #000428, #004e92) no-repeat center center fixed;   
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

}

.nft-container{
    justify-content: center;
    display: grid;
    grid-template-columns: 37vmin 37vmin 37vmin 37vmin 37vmin;
    margin: 37px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.nft-name{
    color: red;
    font-weight: bolder;
    font-size: 24px;;

}

.main {
    margin: 5rem auto;
	/* border: 1px solid #ffffff22; */
	background-color: #282c34;
	background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
	box-shadow: 0 7px 20px 5px #00000088;
	border-radius: .7rem;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	overflow: hidden;
	transition: .5s all;
}

.nft-name.card.title.h5 {
    font-size: 20px;
    font-weight: bold;
}

.nfts-card{
    width: 40vmin;
    height: 60vmin;
}

Card.body.main{
    width: 10px;
}

.NftSearch {
    width: 10%;;
}

.Results {
    color: white;
}