h1.landing-page{
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 35vmin;
    color: white;
    text-shadow: 2px 5px 10px #71719c;
    bottom: 50vmin;
}

.trending{
    color: white;
    text-shadow: 2px 5px 10px #71719c;
    font-weight: 800;
    font-size: 40px;
    font-style: normal;
    position: absolute;
    top: 110vmin;
    right: 50%;
}


.collections{
    color: white;
    text-shadow: 2px 5px 10px #71719c;
    font-weight: 800;
    font-size: 40px;
    font-style: normal;
}
.oneOfThree{
    top:10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.card{
    border: solid 2px;
    width: 50vmin;
    height: 30vmin;

}

.twoOfThree{
    margin: 2.5vmin;
    justify-content: center;
    position: absolute;
    display: flex;
    gap: 10px;
    overflow: hidden;
    top:120vmin;
}

.threeOfThree{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: static;
}

.card-collections{
    border: solid 2px;
    width: 45vmin;
    height: 30vmin;
    margin-bottom: 10px;
    background-color: white;
}

img.homeNFT {
    top: 15vmin;
    display: flex;
    flex-direction: row-reverse;
    width: 35rem;
    right: 60vmin;
    position: absolute;
    margin: 0;
    border-radius: 50%;
} 


.img1{
    width: 250px;
    height: 250px;
}

.card1 {
    background-color: white;
    height: 350px;
    width: 300px;
}
.card2 {
    background-color: white;
    height: 350px;
    width: 300px;
}
.card3 {
    background-color: white;
    height: 350px;
    width: 300px;
}

.card4 {
    background-color: white;
    height: 350px;
    width: 300px;
}

.link1{
    text-decoration: none;
}

.link2{
    text-decoration: none;
}

.link3{
    text-decoration: none;
}


.link4{
    text-decoration: none;
}